<app-header></app-header>
<div class="flex flex-row">
    <div class="basis-1/12 ">
        <app-navbar></app-navbar>
    </div>
    <div class="basis-11/12 ml-10">
        <h1 class="text-2xl">Adress</h1>
        <hr>
        <div class="flex flex-row mt-2">
            <div>
                <div class="mb-1 text-neutral-400">City*</div>
                <input [(ngModel)]="address.il" type="text" class="form-input rounded-full w-full" placeholder="City" />
            </div>
            &nbsp;
            <div>
                <div class="mb-1 text-neutral-400">District*</div>
                <input [(ngModel)]="address.ilce" type="text" class="form-input rounded-full w-full" placeholder="District" />
            </div>
            &nbsp;
            <div>
                <div class="mb-1 text-neutral-400">Neighborhood*</div>
                <input [(ngModel)]="address.Mahalle" type="text" class="form-input rounded-full w-full" placeholder="Neighborhood" />
            </div>
            &nbsp;
            <div>
                <div class="mb-1 text-neutral-400">Address*</div>
                <input [(ngModel)]="address.adres" type="text" class="form-input rounded-full w-full" placeholder="Address" />
            </div>
            &nbsp;
            <div>
                <div class="mb-1 text-neutral-400">No*</div>
                <input [(ngModel)]="address.kapiNo" type="text" class="form-input rounded-full w-full" placeholder="No" />
            </div>
            &nbsp;
            <div>
                <div class="mb-1 text-neutral-400">Note*</div>
                <input [(ngModel)]="address.not" type="text" class="form-input rounded-full w-full" placeholder="Note" />
            </div>
            &nbsp;
            <button (click)="addAddress()" class="mt-3 px-4 py-3 rounded-full bg-orange-300 text-white" type="submit">Save</button>
        </div>

        <div class="mt-10">
            <hr>
        
            <table class="min-w-full">
                <thead class="border-b">
                    <tr>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            #
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            User ID
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            City
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            District
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            Neighborhood
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            Address
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            No
                        </th>
                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                            Note
                        </th>
                </thead>
                <tbody>
                    <tr class="border-b">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"> 1 </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            il
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            ilçe
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            mahalle
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            adres
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            kapı no
                        </td>
                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                            bilgi
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>
</div>