<div class=" bg-zinc-200 text-center ">
    <a [routerLink]="['/admin']" routerLinkActive="">
        <div class="hover:bg-sky-200 p-10">
            <fa-icon class="text-xl" [icon]="faUsers"></fa-icon>
            B2B
        </div>
    </a>
    <hr>
    <a [routerLink]="['']">
        <div class="hover:bg-sky-200 p-10">
            <fa-icon class="text-xl" [icon]="faBriefcase"></fa-icon><br>
            B2B
        </div>
    </a>
    <a [routerLink]="['']">
        <div class="hover:bg-sky-200 p-10">
            <fa-icon class="text-xl" [icon]="faGripLines"></fa-icon><br>
        </div>
    </a>
    <a [routerLink]="['']">
        <div class="hover:bg-sky-200 p-10">
            <fa-icon class="text-xl" [icon]="faHandPointRight"></fa-icon><br>
        </div>
    </a>
    <a (click)="logout()" [routerLink]="['/']">
        <div class="hover:bg-sky-200 p-10">
            <fa-icon class="text-xl" [icon]="faRightFromBracket"></fa-icon><br>
        </div>
    </a>
</div>