<div class=" bg-zinc-100 text-center ">
    <hr>
    <a [routerLink]="['/admin']" routerLinkActive="bg-orange-200">
        <div class=" hover:bg-orange-200 p-10">
            <fa-icon class="text-xl" [icon]="faUsers"></fa-icon>
            B2C
        </div>
    </a>
    <hr>
    <a [routerLink]="['/address']">
        <div class="hover:bg-orange-200 p-10">
            <fa-icon class="text-xl" [icon]="faBriefcase"></fa-icon><br>
            B2B
        </div>
    </a>
    <hr>
    <a [routerLink]="['']">
        <div class="hover:bg-orange-200 p-10">
            <fa-icon class="text-xl" [icon]="faBars"></fa-icon><br>
        </div>
    </a>
    <hr>
    <a [routerLink]="['']">
        <div class="hover:bg-orange-200 p-10">
            <fa-icon class="text-xl" [icon]="faHandPointRight"></fa-icon><br>
        </div>
    </a>
    <hr>
    <a (click)="logout()">
        <div class="hover:bg-orange-200 p-10">
            <fa-icon class="text-xl" [icon]="faRightFromBracket"></fa-icon><br>
        </div>
    </a>
    <hr>
</div>