<app-header></app-header>
<div class="flex flex-row m-5">
  <div class="basis-1/12">
    <app-navbar></app-navbar>
  </div>
  <div class="basis-11/12 ml-20">
    <h1 [appTitleH1]="'Customer'"></h1>
    <hr>
    <div class="container rounded-md bg-slate-50">
      <form [formGroup]="customerForm">
        <div class="flex flex-row space-x-4">
          <div class="mt-3 w-full">
            <div class="mb-1 text-neutral-400">Name*</div>
            <input type="text" class=" form-control rounded-full w-full" placeholder="Name"
              formControlName="firstName" />
          </div>

          <div class="mt-3 w-full">
            <div class="mb-1 text-neutral-400">Surname*</div>
            <input type="text" class="form-control rounded-full w-full" placeholder="surname"
              formControlName="surname" />
          </div>
          <div class="mt-3 w-full">
            <div class="mb-1 text-neutral-400">Email*</div>
            <input type="text" class="form-control rounded-full w-full" placeholder="email" formControlName="email" />
          </div>
          <div class="mt-3 w-full">
            <div class="mb-1 text-neutral-400">City*</div>
            <input type="text" class="form-control rounded-full w-full" placeholder="city" formControlName="city" />
          </div>
          <div>
          </div>
        </div>
      </form>
      <button *ngIf="!edit" (click)="saveCustomer()"
        class="mt-9 px-3 py-3 rounded-md bg-orange-500 hover:bg-orange-400 text-white" type="submit">Save</button>
      <button *ngIf="edit" (click)="updateCustomer(selectedCustomer)"
        class="mt-9 mr-3 px-3 py-3 rounded-md bg-orange-500 hover:bg-orange-400 text-white"
        type="submit">Update</button>
      <button *ngIf="edit" (click)="edit = false; customerForm.reset()"
        class="mt-9 px-3 py-3 rounded-md bg-slate-400 hover:bg-slate-500 text-white" type="submit">Cancel</button>
    </div>
    <hr class="mt-4">
    <div class="mt-5">
      <input [(ngModel)]="searchText" (keyup)="searchCustomer()" class="form-input rounded-full w-full"
        placeholder="Search Id, Customer Name">
    </div>
    <hr class="mt-3">
    <div style="height: 320px;" class="flex flex-col overflow-scroll overflow-x-hidden">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full table-auto">
              <thead class="border-b">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    #
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Customer ID
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Name
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Surname
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    Email
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                    City
                  </th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">

                  </th>

                </tr>
              </thead>
              <tbody>
                <tr class="border-b" *ngFor="let item of customer; let i = index">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{i+1}}</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.id}}</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.data.firstName}}</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.data.surname}}</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.data.email}}</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{item.data.city}}</td>
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                    <button (click)="editCustomer(i)" class="p-2 rounded bg-slate-400 hover:bg-slate-500 text-white">
                      <fa-icon class="text-xl " [icon]="faEdit"></fa-icon>
                    </button>
                    <button (click)="deleteCustomer(i)" class="p-2 ml-3 rounded hover:bg-red-500 text-white bg-red-700">
                      <fa-icon class="text-xl" [icon]="faTrash"></fa-icon>
                    </button>
                  </td>
                  <td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>